@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Yu Gothic";
  margin: 0;
  color: #333;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #333;
  text-decoration: none;
}

/* --------------------------------
 * header
 * -------------------------------- */
.header {
  position: relative;
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}

.header.header_top {
  background-color: #fff;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 8px 64px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .header_wrapper {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .header_wrapper {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
  }
}

.header_start {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header_start {
    width: 200px;
    padding: 0;
  }
}

.header_end {
  display: flex;
  align-items: center;
}

.logo_wrapper {
  cursor: pointer;
}

.logo_wrapper p {
  font-family: 'Advent Pro', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 2.0rem;
  font-weight: 700;
  color: #1565C0;
}

.logo_wrapper:hover {
  opacity: 0.8;
}

#menu_toggle {
  display: none;
}

#menu_toggle {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

#menu_toggle span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #1565C0;
  width: 45%;
}

#menu_toggle span:nth-of-type(1) {
  top: 14px;
}

#menu_toggle span:nth-of-type(2) {
  top: 20px;
}

#menu_toggle span:nth-of-type(3) {
  top: 26px;
}

.menu_active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.menu_active span:nth-of-type(2) {
  opacity: 0;
}

.menu_active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}


@media (min-width: 768px) {
  .nav_wrapper {
    display: flex;
  }
}

@media (max-width: 768px) {
  #menu_toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .nav_wrapper {
    visibility: hidden;
    transform: translateY(0);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    opacity: 1;
    margin: 0;
  }

  .nav_wrapper_active {
    visibility: visible;
    transform: translateY(0);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    opacity: 1;
    margin: 0;
  }
}

.nav_item {
  background-color: #fff;
}

.nav_item a {
  font-size: 2.4rem;
  color: #333333;
  text-decoration: none;
  display: block;
  padding: 0 1.5rem 0.5rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.1rem;
}

.nav_item.contact i {
  margin-right: 4px;
  font-size: 1.2rem;
}

.nav_item a span:hover {
  color: #1e88e5;
  transition: 0.15s;
}

@media (max-width: 768px) {
  .nav_item.contact i {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav_item a {
    padding: 1em;
    border-bottom: 1px solid #aaaaaa;
  }

  .nav_item a span:hover {
    width: 98%;
    transition: 0.15s;
  }
}

.nav_item .menu_icon {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto 0.5rem;
}

@media (max-width: 768px) {
  .nav_item .menu_icon {
    display: inline-block;
    margin-right: 1rem;
  }
}

/* --------------------------------
 * header
 * -------------------------------- */
.mv {
  height: 92vh;
  background: url(../img/back.png) center center / cover no-repeat;
}

@media (max-width: 768px) {
  .mv {
    height: 92vh;
  }
}

/* --------------------------------
 * top
 * -------------------------------- */
.top {
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.top .wrapper {
  margin: 32px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .top .wrapper .image_sp {
    display: none;
  }
}

@media (max-width: 768px) {
  .top .wrapper .image_pc {
    display: none;
  }
}

/* --------------------------------
 * body
 * -------------------------------- */
.heading_top {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.8rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 0 auto;
}

.heading_top_sub {
  display: block;
  font-size: 1.8rem;
  color: #1565C0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 32px;
}

/* --------------------------------
 * business
 * -------------------------------- */
.business {
  display: block;
  background-color: #e3f2fd;
  padding: 64px 0 16px;
}

.business .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto 32px;
  padding: 0 10px;
  max-width: 960px;
  column-gap: 20px;
}

@media (max-width: 768px) {
  .business .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
  }

  .business .image_wrapper {
    padding: 0 32x;
  }

  .business .item {
    margin-bottom: 16px;
  }
}

.business .item {
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  color: #424242;
}

.business .image {
  margin: auto;
  width: 90%;
  height: 300px;
}

.business .image_1 {
  background-position: center center;
  background-size: cover;
  background-image: url(../img/business1.png);
}

.business .image_2 {
  background-position: center center;
  background-size: cover;
  background-image: url(../img/business2.png);
}

.business .image_3 {
  background-position: center center;
  background-size: cover;
  background-image: url(../img/business3.png);
}

.business .item .title {
  font-size: 2.0rem;
  margin: 0;
  color: #1565C0;
}

.business .item .sub_title {
  font-size: 1.3rem;
  color: #1565C0;
  font-weight: bold;
  margin: 0;
}

.business .item .text {
  font-size: 1.4rem;
  width: 80%;
  text-align: center;
  margin: 24px auto;
}

.button {
  display: block;
  background-color: #fb9c4d;
  text-decoration: none;
  color: #fff;
  padding-left: 4px;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  margin: 16px auto 24px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  border: none;
}

.button_secondary {
  border: 2px solid #fb9c4d;
  color: #fb9c4d;
  background-color: #fff;
  max-width: 300px;
}

.button i {
  margin: 0 4px;
}

.tbl_border {
  width: 100%;
  border-spacing: 0;
  text-decoration: none;
}

.tbl_border th:nth-of-type(1) {
  border-top: solid 2px #2196f3;
}

.tbl_border th {
  border-bottom: solid 2px #2196f3;
  padding: 20px 0 20px 16px;
  width: 24%;
  text-align: left;
  font-size: 1.4rem;
  color: #1565C0;
}

.tbl_border td:nth-of-type(1) {
  border-top: solid 2px #ddd;
}

.tbl_border td {
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 20px 0 20px 16px;
  width: 76%;
  text-align: left;
  font-size: 1.4rem;
}

.tbl_flat {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
  text-decoration: none;
}

.tbl_flat th,
.tbl_flat td {
  padding: 16px;
  text-align: center;
  box-sizing: border-box;
  text-align: left;
}

.tbl_flat th {
  background: #00bcd4;
  color: #fff;
  padding: 20px 0 20px 16px;
  width: 24%;
  text-align: left;
  font-size: 1.4rem;
  border-radius: 10px 0 0 10px;
}

.tbl_flat td {
  text-align: center;
  padding: 20px 0 20px 16px;
  width: 76%;
  text-align: left;
  font-size: 1.4rem;
  background: #f8f8f8;
  border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 768px) {
  .tbl_flat {
    width: 100%;
  }

  .tbl_flat th,
  .tbl_flat td {
    display: block;
    width: 100%;
    border-bottom: none;
  }

  .tbl_flat th {
    border-radius: 10px 10px 0 0;
  }

  .tbl_flat td {
    border-radius: 0 0 10px 10px;
  }

  .tbl_flat tr:last-child {
    border-bottom: solid 1px #ccc;
  }
}

/* --------------------------------
 * heading
 * -------------------------------- */
.heading_wrapper {
  display: block;
  padding: 2rem 2rem;
  background: #e0f7fa;
  margin: 64px 0 32px;
  border-radius: 10px;
}

.heading {
  border-left: 5px solid #00bcd4;
  font-size: 2.4rem;
  padding-left: 24px;
}

/* --------------------------------
 * news
 * -------------------------------- */
.news .wrapper {
  max-width: 960px;
  margin: auto;
  padding: 64px 10px 16px;
}

.news .button {
  width: 300px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 32px;
}

.news .button:hover {
  transition: 0.15s;
  opacity: 0.8;
}

/* --------------------------------
 * contact
 * -------------------------------- */
.contact .wrapper {
  padding: 32px 10px 16px;
  background: url(../img/contact_back.png) center center / cover no-repeat;
}

.contact .wrapper .item {
  display: block;
  margin: 32px auto;
  padding: 32px 10px;
  width: 100%;
  max-width: 960px;
}

.contact .wrapper .item:hover {
  opacity: 0.95;
  transition: 0.15s;
}

.contact .wrapper .item .text {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin: 32px;
}

.contact .button {
  width: 300px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  background-color: #0d47a1;
  padding: 8px 0;
}

.footer .wrapper .co_name {
  font-size: 2.8rem;
  font-weight: bold;
  font-family: 'Advent Pro', sans-serif;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #fff;
}

.footer .wrapper p {
  color: #fff;
  font-size: 1.6rem;
}

.footer .wrapper .copyright {
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
}